<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link type="text/css" href="{% static 'dip/css/styles.css' %}" rel="stylesheet">-->

<!--    <title>{{ title }}</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="title_lecture">-->
<!--    <h1>КУРС</h1>-->
<!--</div>-->

<!--&lt;!&ndash;<button class="collapsible">Нелинейные уравнения</button>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;    <p><a href="#" class="a_in_content">Лекция. Нелинейные уравнения</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;    <hr>&ndash;&gt;-->
<!--&lt;!&ndash;    <p><a href="#" class="a_in_content">Выполнить лабораторную работу</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--{% block post %}-->
<!--{% endblock %}-->

<!--{% block content %}-->
<!--{% endblock %}-->


<!--<script src="{% static 'dip/js/screepts.js' %}"></script>-->
<!--</body>-->
<!--</html>-->