{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'dip/css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

    <title>{{ title }}</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!--    скрипт для отображения графика-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="right_post_lecture">
    <div class="group_lecture_button">
        {% block post %}
        {% for p in posts %}
        <button class="collapsible">{{p}}</button>

        <div class="content">
            <p><a href="{{ p.get_absolute_url_lecture }}" class="a_in_content">{{p}}</a></p>
            <hr>
            <p><a href="{{ p.get_absolute_url_laboratory }}" class="a_in_content">Выполнить лабораторную работу</a></p>
        </div>

        {% endfor %}
        {% endblock %}
    </div>

{% block content %}
{% endblock %}
</div>

<script src="{% static 'dip/js/screepts.js' %}"></script>
</body>
</html>


