{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">


    <link type="text/css" href="{% static 'dip/css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

    <title>{{ title }}</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!--    скрипт для отображения графика-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    {% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
                <li class="logo"><a href="{% url 'home' %}">РЕШЕНИЕ ДУЧП</a></li>
{% for m in menu %}
	{% if not forloop.last %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% else %}
			<li class="last"><a href="{% url 'admin:index' %}">{{m.title}}</a></li>
	{% endif %}
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


    <div class="right_post_lecture">
        <div class="group_lecture_button">
            {% block post %}
            {% for p in posts %}
            <button class="collapsible">{{p}}</button>

            <div class="content">
                <p><a href="{{ p.get_absolute_url_lecture }}" class="a_in_content">{{p}}</a></p>
                <hr>
                <p><a href="{{ p.get_absolute_url_laboratory }}" class="a_in_content">Выполнить лабораторную работу</a></p>
            </div>

            {% endfor %}
            {% endblock %}
        </div>

    {% block content %}
        <div class="text_main_page">
            <p>Дифференциальные уравнения в частных производных (ДУЧП) - это уравнения,
            которые содержат неизвестную функцию двух и более переменных и ее частные производные.
            Многие задачи физики и техники приводят к дифференциальным уравнениям в частных производных.
            Например, ДУЧП могут описывать теплопроводность, электромагнетизм, механику жидкости и газа, колебания в упругих средах,
            рост популяций, финансовые рынки и т.д. Решение ДУЧП позволяет получить информацию о распределении температуры, давления,
            плотности и других физических параметров в пространстве и времени, что может быть важно для понимания различных явлений
            и разработки будущих технических решений.</p>
            <p>Данный класс задач описывает сложные математические модели,
            аналитическое решение которых может являться слишком трудоемким или быть практически невыполнимым.
            Существующие приближенные (численные) методы для решения ДУЧП позволяют получить
            приближенное решение практически любой задачи с заданной точностью.</p>
            <p>Один из самых распространенных методов для решения уравнений параболического типа - метод конечных разностей.
                Этот метод заключается в замене производных их конечно-разностным представлением и дальнейшим решением
                итерационными схемами. Метод конечных разностей также применяется для решения уравнения теплопроводности,
                которое является примером уравнения параболического типа.</p>

            <p>Для решения уравнений гиперболического типа, таких как уравнение распространения волн,
                можно использовать метод конечных разностей с различными схемами устойчивости.
                Существует несколько видов схем устойчивости, включая явную схему, неявную схему и схему Кранка-Николсона.
                Каждая из этих схем имеет свои преимущества и недостатки, и выбор определенной схемы зависит от конкретной
                инженерной задачи и ее граничных условий. Кроме того, для решения уравнений гиперболического типа можно
                использовать метод конечных элементов, который заключается в представлении области, на которой определено уравнение,
                в виде совокупности конечных элементов. </p>
            <p>Какой метод выбрать для решения конкретной задачи, зависит от ее условий, требований к точности и скорости вычислений.</p>

            <p>Явная схема позволяет решать уравнение для неизвестного значения в следующем временном слое,
                используя известные значения на текущем временном слое. Это означает, что вычисление нового значения
                требует только знания значений на предыдущем временном слое. Явная схема обычно проще в реализации и быстрее
                в вычислении, но может быть неустойчива при определенных условиях, таких как большие значения шага по времени.</p>

            <p>Неявная схема позволяет решать уравнение для неизвестного значения в следующем временном слое,
                используя как известные значения на текущем временном слое, так и значения в следующем временном слое.
                Это означает, что вычисление нового значения требует решения системы уравнений. Неявная схема обычно более устойчива,
                чем явная схема, и может использоваться с большими значениями шага по времени. Однако ее реализация является более
                сложной, и скорость вычислений становится более медленной. Кроме того, неявная схема может приводить
                к необходимости решать системы уравнений, что может потребовать больше вычислительных ресурсов.</p>
        </div>
    {% endblock %}
    </div>

<script src="{% static 'dip/js/screepts.js' %}"></script>
</body>
</html>


