{% extends 'dip/index.html' %}

{% block content %}

<form method="get">
        {% csrf_token %}
        <div class="content_parameters_and_inaccuracy">
                <div class="content_parameters_and_inaccuracy_in_border">
                        <h2>Параметры метода</h2>
                        <div class="content_method_in_border">
                                <p><label for="{{ form.par_small.id_for_label }}" class="custom_label_input">{{form.par_small.label}}</label>{{form.par_small}}</p>
                                <div>{{form.par_small.errors}}</div>

                                <p><label for="{{ form.par_step.id_for_label }}" class="custom_label_input">{{form.par_step.label}}</label>{{form.par_step}}</p>
                                <div>{{form.par_step.errors}}</div>
                        </div>

                        <h2>Погрешности метода</h2>
                        <div class="content_method_in_border">
                                <p><label for="{{ form.pogr_eps.id_for_label }}" class="custom_label_input">{{form.pogr_eps.label}}</label>{{form.pogr_eps}}</p>
                                <div>{{form.pogr_eps.errors}}</div>

                                <p><label for="{{ form.pogr_delta.id_for_label }}" class="custom_label_input">{{form.pogr_delta.label}}</label>{{form.pogr_delta}}</p>
                                <div>{{form.pogr_delta.errors}}</div>
                        </div>
                </div>
        </div>
</form>

{% endblock %}