{% extends 'dip/index.html' %}

{% block content %}
<!--<h1>{{lecture.title}}</h1>-->
    <div class="iframe_content">
        <iframe id="iframe_laboratory" src="{{laboratory.content_laboratory.url}}" ></iframe>
        <form action="{% url 'laboratory_result' %}" method="get">
            {% csrf_token %}
            <div class="menu_block_laboratory">
                <div class="content_in_menu_block_laboratory">

                    <h3>Индивидуальное задание</h3>
                    <div class="content_method_in_border">
                        <div class="content_in_menu_block_laboratory_input_function">
                            <p><label for="{{ form.function.id_for_label }}" class="custom_label_input">{{form.function.label}}</label>{{form.function}}</p>
                            <div>{{form.function.errors}}</div>
                        </div>

                        <div class="content_in_menu_block_laboratory_input_section">
                            <p><label for="{{ form.function.id_for_label }}" class="custom_label_input">{{form.section.label}}</label>{{form.section}}</p>
                            <div>{{form.section.errors}}</div>
                        </div>
                    </div>

                    <h3>Параметры метода</h3>
                    <div class="content_method_in_border">
                        <p><label for="{{ form.par_small.id_for_label }}" class="custom_label_input">{{form.par_small.label}}</label>{{form.par_small}}</p>
                        <div>{{form.par_small.errors}}</div>

                        <p><label for="{{ form.par_step.id_for_label }}" class="custom_label_input">{{form.par_step.label}}</label>{{form.par_step}}</p>
                        <div>{{form.par_step.errors}}</div>
                    </div>


                    <h3>Погрешности метода</h3>
                    <div class="content_method_in_border">
                        <p><label for="{{ form.pogr_eps.id_for_label }}" class="custom_label_input">{{form.pogr_eps.label}}</label>{{form.pogr_eps}}</p>
                        <div>{{form.pogr_eps.errors}}</div>

                        <p><label for="{{ form.pogr_delta.id_for_label }}" class="custom_label_input">{{form.pogr_delta.label}}</label>{{form.pogr_delta}}</p>
                        <div>{{form.pogr_delta.errors}}</div>
                    </div>


                    <div class="content_in_menu_block_laboratory_button_next">
                        <button type="submit" class="button_click_program">Продолжить</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

{% endblock %}


