body{font-family: 'Outfit', sans-serif; background-color: #ffffff; font-size: 16px; margin: 0;}
.text_main_page{margin-left: 10px; margin-right: 10px;}
.text_main_page p{text-indent: 30px;font-size: 20px;margin-bottom: 10px;margin-top: 10px;}
.title_lecture{width: 300px; margin: 0;}
.title_lecture h1{ margin: 10px 20px;}
.collapsible{background-color: #f7f7f7; color: black; cursor: pointer; padding: 16px; margin: 0px;
  width: 350px; border: none; text-align: left; outline: none; font-size: 20px;}
.active, .collapsible:hover {background-color: #d8d8d8; transition: 0.2s;}
.collapsible:after {content: '\002B'; color: #707070; font-weight: bold; float: right; margin-left: 5px;}
.active:after {content: "\2212";}
.content {max-height: 0; width: 350px; overflow: hidden; transition: max-height 0.2s ease-out; background-color: #f1f1f1;}
.content p{margin: 16px; font-size: 20px;}
.a_in_content{outline: none; text-decoration: none; color: black;}
.a_in_content:hover{color: #040DF6;}
.group_lecture_button{display: block;}
.right_post_lecture{display: flex; width: 100%;}
iframe{border: none;}
.iframe_content{justify-content: flex-end;}
#iframe_lecture{width: 1120px; height: 735px; margin: 0;}
#iframe_laboratory{width: 1120px; height: 660px; margin: 0; }
.menu_block_laboratory{height: 100%; width: 99%; align-items: flex-end; background-color: #f7f7f7; border: 2px solid #e7e7e7;
  border-radius: 5px; font-size: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; }
.content_in_menu_block_laboratory label{ font-size: 20px; }
.custom_input {font-size: 20px;}
.content_in_menu_block_laboratory{margin: 5px 5px;}
.content_in_menu_block_laboratory_button_next{display: flex; justify-content: end; margin-bottom: 10px; margin-right: 10px;}
.button_click_program{background-color: #D1D1D1; border: none; border-radius: 5px; color: black; padding: 12px 20px;
  text-align: center; text-decoration: none; display: inline-block; font-size: 18px; margin: 3px 2px; cursor: pointer;
  -webkit-transition-duration: 0.4s; transition-duration: 0.4s; margin-top: 10px;}
.button_click_program:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2),0 17px 50px 0 rgba(0,0,0,0.15);}
.content_method_in_border{display: flex; justify-content: space-around;}
.content_in_menu_block_laboratory h3{margin: 5px; text-decoration: underline; }
.compiler_content{margin: 10px; width: 1115px; height: 600px; }
.result-table {border-collapse: collapse; width: 100%;}
.result-table th, .result-table td {padding: 8px; text-align: left;}
.result-table th {background-color: #f2f2f2; font-weight: bold;}
.result-table tr:nth-child(even) {background-color: #f9f9f9;}
.result-table tr:hover {background-color: #ddd;}
.parameters_laboratory {display: flex; flex-direction: row; align-items: center; padding: 15px 0 5px 5px;}
.parameters_heading{font-size: 22px;}
.parameters_heading_method{font-size: 22px;padding: 0 0 0 5px ;}
.parameter-item {font-weight: bold; margin-right: 12px; margin-left: 12px;}
.parameter-label {font-size: 22px; color: blue;}
.parameter-value {font-size: 22px; color: red;}
.block_laboratory_button_result{position: absolute; top: 60px; right: 10px; margin-right: 5px;}
.block_result {display: flex;}
.method_block{margin-top: 5px; margin-bottom: 5px;}
.header{background: #d8d8d8; height: 60px;}
ul.mainmenu{list-style: none; margin: 0; padding: 0; height: 60px; color: black; font-size: 24px; overflow: hidden;}
ul.mainmenu li{float: left; margin: 16px 40px 0 35px;}
ul.mainmenu li.logo{margin-left: 50px}
ul.mainmenu li.last{float: right;}
ul.mainmenu li.logo{margin: 13px 40px 0 40px;}
ul.mainmenu li.logo a{text-decoration: none; font-family: 'Russo One', sans-serif; font-size: 32px;}
ul.mainmenu li a{color: black; text-decoration: none;}
ul.mainmenu li a:hover{color: #040DF6;}
.panelitems{text-align: center;}
ul.langitem{list-style: none; display: inline-block; margin: 30px; padding: 0; max-width: 300px;}
ul.langitem li{margin: 10px 0 0 0; width: 100%;}
ul.langitem li.image{margin: 0; text-align: center; width: 100%; height: 250px; overflow: hidden;}
ul.langitem li.descr{color: #777; height: 170px; overflow: hidden;}
ul.langitem li a{color: #fdc073; text-decoration: none; font-size: 20px;}
ul.langitem li a:hover{color: #FDA83D;}
div.button{background: #3F4137; max-width: 200px; margin: 0 auto; padding: 5px 20px 5px 20px; border-radius: 10px; font-size: 20px;}